name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    name: Python 3.13 on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # You can add 'ubuntu-latest' or 'macos-latest' here too
        os: [windows-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Set up Python 3.13
        run: uv python install 3.13

      - name: Run Tox
        # This runs the default env_list (py313) defined in your pyproject.toml
        run: uv run tox

      - name: Build package
        run: uv build